# pandas - A melhor biblioteca do Python para Dados

- Principais comandos e os princípios básicos do pandas.

### Importando o pandas

In [7]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [8]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }

tabela_vendas = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [9]:
display(tabela_vendas)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [10]:
tabela = pd.read_excel('Vendas.xlsx')
display(tabela)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe
    - info
    - round

In [11]:
display(tabela.head(10))
display(tabela.shape)
display(tabela.info())
display(tabela.describe().round(2))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93910 entries, 0 to 93909
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Código Venda    93910 non-null  int64
 1   Data            93910 non-null  datetime64[ns]
 2   ID Loja         93910 non-null  object
 3   Produto         93910 non-null  object
 4   Quantidade      93910 non-null  int64
 5   Valor Unitário  93910 non-null  int64
 6   Valor Final     93910 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 5.0+ MB

None

       Código Venda  Quantidade  Valor Unitário  Valor Final
count      93910.00    93910.00        93910.00     93910.00
mean       32464.76        2.17          191.73       414.86
std        18809.01        1.26          145.22       434.85
min            1.00        1.00           30.00        30.00
25%        16204.00        1.00          100.00       156.00
50%        32367.00        2.00          155.00       274.00
75%        48793.75        3.00          248.00       524.00
max        65014.00        5.00          750.00      3750.00

### Pegar 1 coluna (e os pd.Series)

In [12]:
col_loja = tabela[['ID Loja', 'Produto']]
display(col_loja)

                   ID Loja            Produto
0       Iguatemi Esplanada     Sapato Estampa
1       Iguatemi Esplanada           Camiseta
2       Iguatemi Esplanada      Sapato Xadrez
3           Norte Shopping            Relógio
4           Norte Shopping       Chinelo Liso
...                    ...                ...
93905  Shopping Vila Velha     Mochila Xadrez
93906    Ribeirão Shopping  Pulseira Listrado
93907    Ribeirão Shopping     Cueca Listrado
93908     Shopping Morumbi     Pulseira Linho
93909     Shopping Morumbi      Casaco Xadrez

[93910 rows x 2 columns]


### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [18]:
#tabela.loc[linhas, colunas] os parametros são opcionais
#pegando uma linha ou varias
#display(tabela.loc[1:5])

#pegar linhas que correspondem a uma condição
#vendas_ns = tabela.loc[tabela['ID Loja'] == 'Norte Shopping']
#display(vendas_ns)

#pegando linhas e colunas especificas
#vendas_ns = tabela.loc[tabela['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']]
#display(vendas_ns)

#pegando um valor especifico
print(tabela.loc[9, 'Produto'])

Camisa Liso

### Adicionar 1 coluna

In [23]:
# a partir de uma coluna que existe
tabela['Comissão'] = tabela['Valor Final'] * 0.05
#display(tabela)

# criar uma coluna com valor padrão
# não faça assim: tabela['Imposto']=0
tabela.loc[:, 'Imposto'] = 0
display(tabela)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [41]:
vendas_dez = pd.read_excel("Vendas - Dez.xlsx")
vendas_dez['Comissão'] = vendas_dez['Valor Final'] * 0.05
vendas_dez.loc[:, 'Imposto'] = 0
display(vendas_dez)
#tabela = tabela.append(vendas_dez) o baguio ta obsolet e eu não sei substituir
#display(tabela)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,12.50,0
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0

### Excluir linhas e colunas

In [43]:
tabela = tabela.drop('Imposto', axis=1)
display(tabela)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [72]:
# Deletar linhas ou colunas vazias
#tabela = tabela.dropna(how=all, axis=1)

# Deletar linhas que possuem valores vazios
#tabela = tabela.dropna()

# PREENCHER COM VALORES VAZIOS

# preencher com a média da coluna
# tabela['Comissão'] = tabela['Comissão'].fillna(tabela['Comissão'].mean())
# tabela.loc[tabela['Comissão'] == 0, 'Comissão'] = tabela['Comissão'].mean()
# tabela = tabela.round(2)

# preencher com o ultimo valor

tabela = tabela.ffill()
display(tabela)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,14.28
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,14.28
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,14.28
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,14.28
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,14.28

### Calcular Indicadores
    - Groupby
    - Value Counts

In [80]:
tabela = tabela.drop_duplicates()
display(tabela)

# value counts
transacoes_loja = tabela['ID Loja'].value_counts()
display(transacoes_loja)

#agrupando colunas
faturamento_Produto = tabela[['Produto', 'Valor Final']].groupby('Produto').sum()
display(faturamento_Produto)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,14.28
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,14.28
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,14.28
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,14.28
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,14.28

Shopping Vila Velha                 4227
Palladium Shopping Curitiba         4203
Norte Shopping                      4171
Rio Mar Shopping Fortaleza          4112
Bourbon Shopping SP                 4108
Iguatemi Campinas                   4103
Rio Mar Recife                      4096
Shopping Center Leste Aricanduva    4083
Shopping SP Market                  4072
Shopping Ibirapuera                 4043
Novo Shopping Ribeirão Preto        4043
Ribeirão Shopping                   4038
Salvador Shopping                   4022
Shopping Iguatemi Fortaleza         4012
Shopping Center Interlagos          4011
Center Shopping Uberlândia          4004
Shopping Eldorado                   3996
Passei das Águas Shopping           3992
Shopping União de Osasco            3991
Iguatemi Esplanada                  3974
Shopping Barra                      3955
Shopping Morumbi                    3953
Parque Dom Pedro Shopping           3897
Shopping Recife                     3885
Shopping Midway Mall                3832
Name: ID Loja, dtype: int64

                  Valor Final
Produto
Bermuda                271950
Bermuda Estampa        291187
Bermuda Linho          394680
Bermuda Liso           274907
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457472
Tênis Linho            538608
Tênis Liso             474012
Tênis Listrado         480508
Tênis Xadrez           459466

[120 rows x 1 columns]

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [85]:
gerentes = pd.read_excel('Gerentes.xlsx')
display(gerentes)
tabela = tabela.merge(gerentes)
display(tabela)

                             ID Loja   Gerente
0                 Iguatemi Esplanada  Salvador
1                     Norte Shopping     Joana
2         Rio Mar Shopping Fortaleza     Maria
3                     Shopping Barra   Letícia
4                Shopping Ibirapuera    Helena
5                  Iguatemi Campinas     Luiza
6   Shopping Center Leste Aricanduva     Julia
7          Passei das Águas Shopping    Nicole
8                    Shopping Recife     André
9               Shopping Midway Mall      João
10               Bourbon Shopping SP    Marcus
11        Shopping Center Interlagos    Amanda
12         Parque Dom Pedro Shopping     Carol
13        Center Shopping Uberlândia  Andressa
14          Shopping União de Osasco     Lilia
15                 Shopping Eldorado     Paulo
16               Shopping Vila Velha     Pablo
17      Novo Shopping Ribeirão Preto     Diana
18                    Rio Mar Recife       Ana
19       Palladium Shopping Curitiba    Flavia
20                Shopping SP Market  Fernanda
21                 Ribeirão Shopping     Fábio
22       Shopping Iguatemi Fortaleza      Joel
23                  Shopping Morumbi    Gisele
24                 Salvador Shopping    Mateus

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,Salvador
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,Salvador
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,Salvador
...,...,...,...,...,...,...,...,...,...
100818,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,14.28,Mateus
100819,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,14.28,Mateus
100820,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,14.28,Mateus
100821,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,14.28,Mateus
100822,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,14.28,Mateus